- unless results.empty?
  - last_r_id = results.sort_by{|r| r.id}.last.id
  :javascript
    $(function(){ $('#last_result_id').val("#{last_r_id}") });


  - builds = results.sort_by{|r| r.created_at}.reverse.group_by{|r| r.commit_id}

  - builds.each do |commit_id, results|
    :javascript
      $(function(){ remove_existing_commit("#{commit_id}") });
    .commit{:class => commit_id}
      %h4
        .left
          = link_to_function "Commit #{commit_id}", "$(this).parents('.commit').find('.commit_log').toggle('fast');"
        .commit_author.right
      .clear
      .commit_log.hidden
      .clear
      - results.each do |result|
        - d= result.display
        - c = "undefined"
        - c = "failure" if d[:status].eql?(:failure)
        - c = "success" if d[:status].eql?(:success)


        .results{"data-author" => h(d[:author]), "data-commit_log" => h(d[:commit_log])}
          .details{:class => c, :onclick => "toggle_these_results(this)"}
            .command= result.command

            .result_outcome
              - if d[:status].eql?(:success)
                = "Passed"
              - elsif d[:status].eql?(:failure)
                = "Failed!"
              - else
                = "outcome uncertain"
              .clear
              = d[:summary]
            = "Time taken: #{d[:time]}"

          //.small= d.inspect

          .result_data.hidden
            %pre
              %code
                - if d[:altered_result]
                  = d[:altered_result]
                -else
                  = result.data

  :javascript
    $(function(){
      $('.commit').each(function(){
        $(this).find('.commit_author').html($(this).find('.results').data("author"));
        $(this).find('.commit_log').html("Commit Log:<pre>" + $(this).find('.results').data("commit_log") + "</pre>");
      });
    });
