%p#notice= notice


%h2= @project.name
%p
  = @project.source_path
  = @project.branch


%h3 Actions
- @project.actions.each do |action|
  = action.command
  = link_to 'Destroy', action, :confirm => 'Are you sure?', :method => :delete


%h4 Add Action
= render("actions/form", :action => Action.new(:project_id => @project.id))


%h3 Results
- builds = @project.results.sort_by{|r| r.created_at}.reverse.group_by{|r| r.commit_id}

- builds.each do |commit_id, results|

  %h4= "Commit #{commit_id}"
  - results.each do |result|
    %h5= result.action.nil? ? "action deleted" : result.action.command
    %pre
      %code
        = result.data



= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
