%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Source path:
  = @project.source_path
%p
  %b Branch:
  = @project.branch

- @project.actions.each do |action|
  = action.command

- @project.results.each do |result|
  = result.commit_id
  = result.data.truncate(100)

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
