#page.grid960

  %p#notice= notice


  %h2= @project.name
  %p
    = @project.source_path
    = @project.branch

  .clear
  .grid_6.alpha
    %h3 Actions
    - @project.actions.each do |action|
      .left= action.command
      .right= link_to 'Destroy', action, :confirm => 'Are you sure?', :method => :delete
    .clear

  .grid_6.omega
    %h4 Add Action
    = render("actions/form", :action => Action.new(:project_id => @project.id))

  .clear

  %h3 Results
  #results_list
    = render("results/list", :results => @project.results, :moo => true)



  = link_to 'Edit', edit_project_path(@project)
  |
  = link_to 'Back', projects_path

:javascript

  var poller = undefined

  $(function(){
    poll();
  });

  function poll(){
    var data = {project_id: "#{@project.id}"}

    $.ajax({ url: "/results", data: data, type: "GET", dataType: 'html', success: function(data,textStatus){
      $('#results_list').html(data)
    }, error: function(r,t,e){
      alert(e)
      alert(r.responseText)
    }});


    poller = setTimeout(function(){ poll() }, 5000);
  };


  function toggle_these_results(e){
    $(e).parents('.results').find('.result_data').toggle('fast')
  };
